.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titulo {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: inherit;
  white-space: nowrap;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 0 3px var(--lightGreen);
}
