.manga {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  padding: 0.5rem;
  border: 1px solid var(--darkgray);
}
.titulo {
  grid-column: 2 / -1;
}
.img {
  grid-row: 1/4;
}
.synopsis {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
}
.generos {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.serializacao {
  grid-column: 2 / -1;
}
@media (max-width: 75rem) {
  .manga {
    grid-template-columns: 1fr 1fr;
  }
  .titulo {
    grid-row: 1;
    grid-column: 1 / -1;
    text-align: center;
  }
  .img {
    grid-row: initial;
    grid-column: initial;
  }
  .synopsis {
    grid-row: initial;
    grid-column: initial;
  }
  .generos {
    grid-row: initial;
    grid-column: 1 / -1;
  }
}
@media (max-width: 52rem) {

  .img {
    justify-self: center;
    grid-column: 1 / -1;
  }
  .synopsis {
    grid-column: 1 / -1;
  }
}