.containerObras {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
  padding: 2rem 1rem;
}
@media (max-width: 75rem) {
  .containerObras {
    justify-content: center;
    grid-template-columns: repeat(3, 200px);
  }
}
@media (max-width: 52rem) {
  .containerObras {
    grid-template-columns: repeat(2, 180px);
    gap: 20px 30px;
    /* background: wheat; */
  }
}
