.conteudo {
  margin-top: 4rem;
  border-top: 1px solid var(--darkgray);
  max-width: 70rem;
  margin: 4rem auto 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
}
.caixa {
  border: 1px solid var(--darkgray);
}

.btn {
  background: none;
  color: var(--lightgrey);
  border: none;
  font-family: var(--type-first);
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
}
.btn:first-child {
  margin-top: 2rem;
}
.btn:hover{
  cursor: pointer;
  color: var(--white);
}
.ativo{
  color: var(--white);
}