.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.title {
  color: var(--lightGreen);
}
@media (max-width: 75rem) {
  .title {
    font-size: 1.5rem;
  }
}
@media (max-width: 52rem) {
  .titulo {
    font-size: 2.5rem;
  }
}
