.barra {
  position: relative;
  padding: 0 5rem 0 5rem;
  display: flex;
  align-items: center;
}
.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 1.125rem;
  background: var(--darkgray);
  color: var(--white);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.input:focus {
  outline: 1px solid var(--lightGreen);
}
.btn {
  position: absolute;
  right: 6rem;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  color: #a9a9ac;
}
.btn:hover {
  color: var(--lightGreen);
  cursor: pointer;
}
@media (max-width: 75rem) {
  .input {
    width: 80%;
  }
  .btn {
    right: 10rem;
  }
}
@media (max-width: 52rem) {
  .btn {
    display: none;
  }
  .input::placeholder {
    font-size: 0.8rem;
  }
}
